<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="google"></a>
  <img style="display: block; margin-left: auto; margin-right: auto;width:50%;" src="logo.jpeg" alt="" width="500">
<h1 style="text-align: center;"> ¿Quienes somos?</h1>
<p style="text-align: center;"> Saheya.cl es una marca que se dedica a la confección de prendas exclusivas y a la moda 
  para siempre lucir un estilo único y propio.</p>
  <h3 style="text-align: center;">¡COMBINALAS COMO TU QUIERAS!</h3>
  <br>
  <br>
  <br>
  <br>

  <h1 style="text-align: center;"> Nuestra misión</h1>
  <p style="text-align: center;"> Entregar siempre el mejor servicio y experiencia a nuestros clientes </p>
  <br>
  <br>
  <br>
  <br>
<a href="producto1.html">Ver productos</a> <a href="producto2.html">Vamos por un pago exitoso</a> <a href="producto3.html">finalizar pago</a>
</body>
</html>
